@keyframes exemplo{
    0% {background-color: red;top:0px;left:0px;}
    25% {background-color: yellow;top:0px;left:400px;}
    50% {background-color: blue;top:800px;left:400px;}
    75% {background-color: green;top:800px;left:0px;}
    100% {background-color: red;top:0px;left:0px;}
}

body{
    margin: 0;
}


.exemplo{
    width: 150px;
    height: 150px;
    background-color:red;
    position: absolute;
    animation-name:exemplo;
    animation-duration:4s;
    animation-delay: 1s;
    animation-iteration-count: 2;

}